body {
  background-color: #fff;
}
#content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: auto;
    border: 1px solid #D8C8AB;
  }

#header-grid {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 1em;
    align-items: center;
    color: white;
    background-color: #90B082;
    padding: 10px;
    max-width: 100%;
  }

  h1 {
    font-family: 'Amiri', serif;
    text-shadow: 8px 3px 7px black;
  }

  main{
    text-align: center;
  }

  h2 {
    color: #000;
    font-family: 'Amiri', serif;
    margin-top: 20px;
    margin-bottom: 0;
  }

  img {
    box-shadow: 2px 2px 5px 0px #2F3E46;
  }

 .divider {
  border-top: 1px solid #D8C8AB;
 } 

ul {
  color: #2F3E46;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #2F3E46;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color:#D8C8AB;
  padding: 5px;
}

  footer {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    background-color: #90B082;
    color: black;
    padding: 35px;
    max-width: 100%;
}