@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

#content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: auto;
  }

#header-grid {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 1em;
    align-items: center;
    color: white;
    background-color: #ddd0c3;
    border-radius: 20px;
    box-shadow: 2px 2px 12px 2px #cdc6bf;
    padding: 20px;
    max-width: 100%;
  }

  h1 {
    font-family: 'Amiri', serif;
    text-shadow: 8px 3px 7px black;
  }

  h2 {
    font-family: 'Amiri', serif;
    text-shadow: 1px 2px 3px #cdc6bf;
  }

  img {
    box-shadow: 4px 3px 7px 0px #cdc6bf;
  }

  .divider-line {
    border-top: 1px solid black;
}

  footer {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    background-color: #ddd0c3;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #cdc6bf;
    padding: 35px;
    max-width: 100%;
}