#eventbanner {
    display: none;
    display: block;
    background-color: #2f3e46;
    color: #f5f2e9;
    padding: .5rem;
    text-align: center;
}
/* Header Styling*/
body {
    background-color: #f5f2e9;
}

.gilbert-cc-logo
{
    height: 80px;
}

h1 {
    font-family: 'Frank Ruhl Libre', serif;
    color: #2F3E46;
    padding-left: 5px;
    justify-self: left;
    line-height: 10px;
}

h2, h3, h4 {
    font-family: 'Frank Ruhl Libre', serif;
    color: #2F3E46;
}

#chamberofcommerce{
    font-size: .4em;
}

.social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social-icons a img {
    height: 40px;
    padding: 2.5px;
}

.menu {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #2F3E46;
    font-style: italic;
}

header {
    display: grid;
    grid: 2fr 1fr / 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: .8em;
    background-color: #a6c09b;
    padding: 1em;
    margin-bottom: .2rem;
    grid-column-gap: .2rem;
}

a {
    background-color: #0000;
}

.header-sub {
    display: none;
}

/* Navigation Styling */

nav {
    margin: 0 auto;
    max-width: 760px;
}

button {
    background-color: #2f3e46;
    color: #f5f2e9;
    border: none;
    font-size: 2em;
}

.toggle-btn {
    padding: 1em;
}

.navigation {
    list-style: none;
    padding: 0px;
    margin: 48px;
    position: absolute;
    width: 80%;
    left: 22px;
    font-size: 1em;
    top: 15%;
    z-index: 1;
}

.navigation a {
    display: block;
    padding: 0.75rem 2vw;
    text-decoration: none;
    color: #2f3e46;
    transition: .2s;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    background-color: #f5f2e9;
    color: #2F3E46;
}

.date {
    grid-row: 2/3;
    grid-column: 1/5;
    align-self: center;
    color: #2F3E46;
    font-size: 12px;
}

/* Body Styling */
.indexMain {
    padding: 1em;
    margin: auto 1rem;
    font-size: .8em;
}

.indexMain section {
    background-color: #d8c8ab;
    padding: .5em;
    margin: 0.5rem;
    border: 5px groove #a6c09bbf;
    box-shadow: 4px 4px 6px #2f3e46;
    border-radius: 10px;
}

/* Hero Section Styling */
.hero {
    position: relative;
    padding: 0.5rem;
    width: auto;
    height: auto;
}

.hero picture {
    grid-column: 1/3;
    grid-row: 1/3;
}

.hero img {
    width: 100%;
    display:block;
}

.heroHeading {
    position: absolute;
    top: 20px;
}

.hero h2 {
    font-size: 30px;
    margin: 0;
    color: #f5f2e9;
    padding: 10px;
}

.heroButton {
    background-color: #d8c8ab;
    color: #2f3e46;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
    border-radius: 10px;
}

.hero a {
    position: absolute;
}

.heroButton:hover{
    background-color:#2F3E46;
    color: #f5f2e9;
    transition-duration: .5s;
    cursor: pointer;
}

#indexForm {
    display: block;
}

/* News Section Styling */
.news {
    text-align: center;
}

.news p {
    padding: 0 1em 0 1em;
}

.news li {
    list-style: none;
}

/* Spotlight Section Styling */
.spotlight {
    display: grid;
    grid: 1fr 1fr / 1fr;
    grid-row-gap: 2px;
    text-align: center;
}

.spotlight a {
    cursor: pointer;
}

.spotlight div {
    border: 1.5px solid #f5f2e9;
    border-radius: 10px;
    padding: 0.5rem;
    width: auto;
    height: auto;
    margin: 5px;
}

#spotlight3 {
    display: none;
}

/* Event Section Styling */
.event {
    text-align:center;
}

.event img {
    width: 4em;
}

/* Weather Section Styling */
.weather {
    text-align: center;
}

.weather img {
	height: 5rem;
    margin: 0;
}

.weather h2, .weather h3, .weather p {
    margin: 0.1rem;
}

.weather h3 {
    margin-top: -20px;
}

#desc {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Join Section Styling */
.join {
    display: none;
}

.joinButton {
    background-color: #2f3e46;
    color: #f5f2e9;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 0.5rem auto;
}

.join a{
    text-decoration: none;
}

.joinButton:hover {
    background-color: #f5f2e9;
    color: #2f3e46;
    transition-duration: .5s;
    cursor: pointer;
}

/* Other Styling */
.hidden {
    display: none;
}

.responsive li {
	display: block;
}

.responsive ul {
    position: absolute;
    width: 100%;
}

.responsive a {
    background-color: #2f3e46;
    color: #f5f2e9;
}

hr {
    border-top: 1px solid #f5f2e9;

}

.lastUpdated {
    padding: .5em;
    font-size: 15px;
    color:#2f3e46;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1em;
    background-color: #a6c09b;
    color: #2f3e46;
    line-height: 7px;
}

.classFooter {
    padding: .5em;
    font-size: 20px;
}

/* DISCOVER PAGE */
.discover {
	display: block;
    text-align: center;
    justify-items: center;
}

.discover p {
    font-size: 0.75rem;
}

.discoverPictures img {
    border: 5px groove #a6c09bbf;
    border-radius: 10px;
}

.discoverPictures img:hover {
    box-shadow: 0 0 17px 5px #2f3e46;
    transition: 0.4s;
    border-radius: 20px;
    border: 5px groove #a6c09bbf;
    transition-duration: .5s;
}

picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.lastVisit {
    text-align: center;
    color:#2F3E46;
}

/* JOIN PAGE */

.joinMain {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #f5f2e9;
    padding: 15px;
    min-width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0px;
}

.joinMain h1 {
    text-align: center;
}

/* form section */

form {
    align-self: center;
    text-align: left;
    min-width: 18rem;
    max-width: 90%;
}

form fieldset {
    margin: 2rem 0;
    border: 5px groove #a6c09bbf;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 25rem;
    padding-inline-end: 2rem;
}

form legend {
    color: #2f3e46;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #2f3e46;
    font-size: .8rem;
}

form label.top input, form label.top select, textarea {
    -webkit-appearance:none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1)
}

textarea {
    overflow: auto;
}

form label.sbs {
    display: block;
    color: #2f3e46;
    font-weight: bold;
}

form label.sbs:hover {
    cursor: pointer;
}

form input.submitBtn {
    border: none;
    background-color: #d8c8ab;
    color: #2f3e46;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    transition-duration: .5s;
}

form input.submitBtn:hover {
    cursor: pointer;
    background-color: #a6c09b;
}

form label.top input:required {
    border-left: #8e1313 solid 6px;
}

form label.top input:required:valid {
    border-left: #a6c09b solid 6px;
}

.npCost {
    background-color: #a6c09b;
    padding: 0.25rem 1rem;
    margin-left: 0.8rem;
    border-radius: 8px;
}

.bronzeCost {
    background-color: #e0984f;
    color: #2f3e46;
    padding: 0.25rem 1rem;
    margin-left: 0.8rem;
    border-radius: 8px;
}

.silverCost {
    background-color: #C0C0C0;
    padding: 0.25rem 1rem;
    margin-left: 0.8rem;
    border-radius: 8px;
}

.goldCost {
    background-color: #FFD700;
    padding: 0.25rem 1rem;
    margin-left: 0.8rem;
    border-radius: 8px;
}

/* thank you page */
.thankyouMain {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.thankyouMain h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
}

.thankyouMain img {
    max-width: 100%;
}

.thankyouMain div {
    padding: 0rem 8rem 0rem 8rem;
}

.thankyouMain p {
    text-align: center;
    font-size: 1rem;
}

/* DIRECTORY PAGE */

.directory {
    overflow-wrap: break-word;
}

  #directory-title {
    text-align: center;
    font-size: 16pt;
    color: #2F3E46;
    margin-bottom: 10px;
  }
  
  #view {
    text-align: center;
  }
  
  #view button {
    text-align: center;
    background-color: #f5f2e9;
    cursor: pointer;
    border: 2px solid #2f3e46;
    border-radius: 10px;
    margin: 10px;
  }
  
  svg {
    width: 50px;
    height: 50px;
    color: #2f3e46;
    margin: .5em;
    align-items: center;
  }
  
  #view button:hover {
    border: 4px solid #2F3E46;
    transition-duration: .5s;
  }
  
  #view button:focus {
    border: 4px solid #2F3E46;
  }
  
  .member-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 2em;
  }

  .member-cards img {
    width: 50%;
  }
  
  .member-cards section {
    background-color: rgba(216,200,171,0.8);
    color: #2F3E46;
    border: 5px groove rgba(166, 192, 155, 0.75);
    box-shadow: 4px 4px 6px #2f3e46;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  
  .member-list table {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    border: 5px groove #a6c09bbf;
    padding: 10px;
    margin: 0.2rem 1%;
  }

  td:nth-child(1) {
    font-weight: 800;
    font-size: 1.2rem;
  }
  
  table:nth-child(odd) {
    background-color: #d8c8ab;
    color: #2f3e46;
  }
  
  table:nth-child(even) {
    background-color: #f5f2e9;
    color: #2F3E46
  }
  
/* CONTACT PAGE */
.contactMain {
    margin: auto;
    padding: 5px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactHeader {
    font-size: 2rem;
    text-align: center;
    color:#2f3e46;
    align-self:center;
    min-width:20em;
}

.contactQuestions p{
	font-size: .8rem;
    line-height: 1.5rem;
}

.contactImg{
    margin: auto 0;
    width: 100%;
}

.contactMain h3 {
    text-align:center;
    font-style: italic;
    margin-bottom: 0;
}

section.contactForm {
    padding-top: 0;
}

.contactForm label.top .contactWidth {
    width: 100%;
    max-width: 45rem;
}

.contactForm div {
    padding: 0;
}

.contactForm form fieldset{
    border: 1px solid #2f3e46;
}

textarea {
    height: 150px;
}

.contactIntro {
    text-align: center;
    line-height: 2rem;
    background-color:rgba(216,200,171,0.4)
}