@media only screen and (min-width: 830px) {
	/*Header Styling */
	header{
        font-size: 1.2rem;
		grid: 1fr / 1fr 1fr 2fr 1fr;
    }

	h1 {
        justify-self: left;
        line-height: 15px;
    }

	.header-sub {
        display: inline;
        font-size: .3em;
    }

	nav {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.social {
		grid-column: 4/5;
	}

	.gilbert-cc-logo {
        justify-self: right;
    }

	.date {
        font-size: 1em;
    }

/* Navigation Styling */
.navigation {
	display: flex;
	position: relative;
	justify-content: flex-end;
}

.navigation li {
	display: block;
	flex: 1 1 auto;
}

.navigation a {
	text-align: center;
	border: none;
}

.menu {
	display: none;
}

/* Body Styling */
.indexMain {
	grid-template-columns: repeat(7, 1fr);
}

/*Hero Styling */
.hero {
	grid-area: 1 / 3 / 3 / 6;
    height: auto;
}

.hero h2 {
	padding: 0.5em;
}

.heroButton {
	padding: 10px 50px;
}

/* News Styling */
.news {
	grid-area: 3 / 3 / 4 / 6;
	text-align:center;
}

.news li {
	list-style: none;
}

/*Spotlight Styling */
.spotlight {
    grid-area: 1 / 6 / 4 / 8;
	width: 95%;
	display: block;
}

.spotlight div:nth-child(3) {
    display: block;
}

/* Event Styling */
.event {
	grid-area: 1 / 1 / 2 / 3;
}

/* Weather Styling */
.weather {
	grid-area: 2 / 1 / 3 / 3;
}

/* Join Styling */
.join {
    grid-area: 3 / 1 / 4 / 3;
	text-align: center;
}

/* Footer Styling */
.commerceFooter {
	display: grid;
	grid: 1fr / 1fr 1fr;
	align-items: center;
}

.gilChamber {
	display: grid;
	grid: 1fr 1fr / 1fr 2fr;
	text-align: left;
}

.gilChamber p {
	padding-left: 10px;
	line-height: 20px;
}

.gilChamber h2 {
	margin-block-end: 0;
	padding-left: 10px;
	line-height: 20px;
}


.gilChamber img {
	grid-column: 1/2;
	grid-row: 1/3;
	justify-self: end;
	align-self: center;
	max-height: 85px;
}

.contact {
	align-self: center;
}

/* Discover Page */
.discoverPictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.discover p {
	grid-column: 2 / 3;
    font-size: 1rem;
}

/* Join Page */

form fieldset {
	max-width: 50rem;
}

.memGrid {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    margin-bottom: -20px;
}

#appInfo {
	grid-area: 1 / 1 / 2 / 3;
	margin-bottom: -20px;
}

#busInfo {
	grid-area: 2 / 1 / 3 / 3;
}

#memInfo {
	grid-area: 1 / 3 / 3 / 4;
    font-size: 1.2em;
}

.joinMain ul {
    grid-column: 2 / 3;
}

form input.submitBtn {
    max-width: 50rem;
}

.thankyouMain {
	display: grid;
	grid: 1fr / 1fr 1fr;
}

.thankyouMain div {
	grid-row: 1/3;
	justify-self:end;
}

.thankyouMain img {
	max-height: 350px;
}

.thankyouMain p {
	grid-column: 2/3;
}

.thankyouMain h1 {
	align-self: end;
}

/* DIRECTORY PAGE */
.directory {
    padding: 5rem;
}

.mem-listTable {
    display: none;
}

.member-cards{
	display: grid;
}

/* CONTACT PAGE */

.contactIntro {
	display: grid;
	grid: 1fr / 1fr 1fr;
}

.contactAddy {
	grid-area: 1 / 1 / 2 / 2;
}

.contactQuestions {
	grid-area: 1 / 2 / 2 / 3;
}

.contactFN {
	float: left;
	width: 50%;
}

.contactForm form {
    min-width: 55rem;
}


}