@media only screen and (min-width: 830px) {
	/*Header Styling */
	header{
        font-size: 1.2rem;
		grid: 1fr / 1fr 1fr 2fr 1fr;
    }

	h1 {
        justify-self: left;
        line-height: 15px;
    }

	.header-sub {
        display: inline;
        font-size: .3em;
    }

	nav {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.social {
		grid-column: 4/5;
	}

	.gilbert-cc-logo {
        justify-self: right;
    }

	.date {
        font-size: 1em;
    }

/* Navigation Styling */
.navigation {
	display: flex;
	position: relative;
	justify-content: flex-end;
}

.navigation li {
	display: block;
	flex: 1 1 auto;
}

.navigation a {
	text-align: center;
	border: none;
}

.menu {
	display: none;
}

/* Body Styling */
.indexMain {
	grid: repeat(3, 1fr) / 1fr 2fr 1fr;
}

/*Hero Styling */
.hero {
	grid-row: 1/3;
	grid-column: 2/3;
}

.hero h2 {
	padding: 0.5em;
}

.hero button {
	margin-bottom: 1em;
    margin-right: 1em;
	padding: 10px 50px;
	font-size: 2em;
	margin-top: -90px;
    margin-left: 400px;
}

/* News Styling */
.news {
	grid-row: 3/4;
	grid-column: 2/3;
	text-align:center;
}

.news li {
	list-style: none;
}

/*Spotlight Styling */
.spotlight {
	grid-row: 1/4;
	grid-column: 3/4;
	grid: repeat(3, 1fr) / 1fr;
	grid-column-gap: 10px;
}

#spotlight3 {
	display: initial;
}

/* Event Styling */
.event {
	grid-row: 1/2;
	grid-column: 1/2;
}

/* Weather Styling */
.weather {
	grid-row: 2/3;
	grid-column: 1/2;
}

/* Join Styling */
.join {
	grid-row: 3/4;
	grid-column: 1/2;
	text-align: center;
}

/* Footer Styling */
.commerceFooter {
	display: grid;
	grid: 1fr / 1fr 1fr;
	align-items: center;
}

.gilChamber {
	display: grid;
	grid: 1fr 1fr / 1fr 2fr;
	text-align: left;
}

.gilChamber p {
	padding-left: 10px;
	line-height: 20px;
}

.gilChamber h2 {
	margin-block-end: 0;
	padding-left: 10px;
	line-height: 20px;
}


.gilChamber img {
	grid-column: 1/2;
	grid-row: 1/3;
	justify-self: end;
	align-self: center;
	max-height: 85px;
}

.contact {
	align-self: center;
}

/* Discover Page */
.discoverPictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.discover p {
	grid-column: 2 / 3;
    font-size: 1rem;
}

/* Join Page */

form fieldset {
	max-width: 50rem;
}

.membershipLevels {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.joinMain ul {
    grid-column: 2 / 3;
}

form input.submitBtn {
    max-width: 50rem;
}

.thankyouMain {
	display: grid;
	grid: 1fr / 1fr 1fr;
}

.thankyouMain div {
	grid-row: 1/3;
	justify-self:end;
}

.thankyouMain img {
	max-height: 350px;
}

.thankyouMain p {
	grid-column: 2/3;
}

.thankyouMain h1 {
	align-self: end;
}

/* DIRECTORY PAGE */



}