@media only screen and (min-width: 34em) {
    /* Header Styling */
    header {
        font-size: 1.3em;
    }

    h1 {
        justify-self: left;
        line-height: 15px;
    }

    .header-sub {
        display: inline;
        font-size: .3em;
    }

    .gilbert-cc-logo {
        height: 124px;
    }

    .social-icons {
        justify-self: right;
    }

    .social-icons a img {
        height: 40px;
        padding: 5px;
    }

    .date {
        font-size: .8em;
    }
/* Body Styling */
    .indexMain {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 1em;
    }

/* Hero Styling */
    .hero{
        grid-area: 1 / 1 / 2 / 6;
    }

/* News Styling */
.news {
    grid-area: 2 / 1 / 3 /6;
    text-align:center;
}

.news li {
    list-style:none;
}

/* Join Styling */
    .join {
        display: block;
        grid-area: 4 / 1 / 5 / 6;    
        text-align: center;
    }

    .join button {
        padding: 10px 100px;
        font-size:1.5em;
    }

/* Event Styling */
    .event {
        grid-area: 5 / 1 / 6 / 4;
    }

/* Weather Styling */
    .weather {
        grid-area: 5 / 4 / 6 / 6;
    }

/* Spotlight Styling */
    .spotlight {
        grid-area: 3 / 1 / 4 / 6;
        flex-direction: row;
        grid-column-gap: 5px;
    }

    #spotlight3 {
        display: none;
    }

/* Footer Styling */
    .commerceFooter {
        align-items: center;
    }

    .gilChamber {
        text-align: center;
    }

    .gilChamber p {
        padding-left: 10px;
        line-height: 20px;
    }

    .gilChamber h2 {
        margin-block-end: 0;
        padding-left: 10px;
        line-height: 20px;
    }


    .gilChamber img {
        max-height: 85px;
    }

    .contact {
        align-self: center;
    }

/* Discover Page */
.discoverPictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.discover p {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
}

/* DIERCTORY PAGE */
.directory {
    padding: 5rem;
}

}
