:root {
    --forest: #144106;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: serif;
    color: var(--forest);
}

h1 {font-size: 30px; margin: 0;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}

p {
    font-family: sans-serif;
    color: black;
    font-size: 16px;
}

.bookButton {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
}

.bookButton:hover {
    background-color: var(--forest);
    transition-duration: .5s;
    cursor: pointer;
}

/* *****HEADER STYLING***** */
body {
    background-color: white;
    display: block;
    text-align: center;
    justify-content: center;
}

header {
    width: fit-content;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 4px 1px 20px 0px black;
}

.templeHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    position: relative;
    margin-bottom: .2rem;
}

.templeHeader h1 {
    margin: 0;
    font-size: 3em;
}

.headerLogo {
    display: flex;
    align-items: center;
    padding: 0;
}

.templeLogo {
    height: 150px;
}

.socialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5px;
    margin-right: 60px;
}

.socialIcons a img {
    height: 40px;
    padding: 2.5px;
}

#templeHeader {font-size: 60px;}
#suitesHeader {font-size:55px}

/* ***** NAVIGATION STYLING ***** */
nav {
    margin: 0 auto;
    max-width: 760px;
    list-style: none;
    padding: 0px;
    margin: 48px;
    position: absolute;
    font-size: 45px;
    left: 424px;
    top: -9px;
    z-index: 2;
    background-color: white;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navigation a {
    display: block;
    padding: 0.75rem 2vw;
    text-decoration: none;
    color: var(--forest);
    text-align: center;
    padding: 1rem;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    background-color: black;
    color: white;
    transition-duration: .5s;
}

nav ul li.active a {
    border: 2px solid black;
  }

  .navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.menu {
      background-color: var(--forest);
      color: white;
  }

.hidden {
    display: none;
}

/* ***** BODY STYLING ***** */
.indexMain {
    padding: 1em;
}

/* FEATURE STYLING */
section {
    width: 100%;
    max-width: 760px;
}

.feature {
    margin: 0;
}

.feature picture {
    justify-content: center;
}

.featButton {
    position: absolute;
    top: 302px;
    right: 186px;
}

#featHeading {
    font-size: 30px;
}

/* SERVICES STYLING */

#freeAmentities {
    padding-top: 10px;;
}

#servicesImage {
    padding-top: 15px;
    width: 65%;
}

.services button {
    margin: 20px;
}

.services li {
    list-style: none;
}

/* TEMPLES STYLING */
#phxImg img {
    width: 85%;
    padding-top: 5px;
}

#phxTemple ul{
    list-style: none;
}

#phxTemple {
    border: 2px solid black;
}

#phxWeather {
    padding: 10px;
}

#denverTemple p, #mcallenTemple p {
    margin-top: 0;
}

.tempCard, #cta, footer {
    margin-top: 30px;
    text-align: center;
}

#portlandTemple, #memphisTemple {
    display: none;
}

/* CALL TO ACTION STYLING */
#cta h3 {
    font-style: italic;
}

/* ***** FOOTER STYLING ***** */
footer {
    background-color: black;
    padding: 1em;
}

footer img {
    height: 150px;
}

footer h2, footer p, footer a, .classFooter, .lastUpdated {
    color: white;
}

.footerLinks {
    padding-top: 20px;
}