:root {
    --forest: #144106;
}

* {
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: serif;
    color: var(--forest);
}

h1 {font-size: 30px; margin: 0;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}

p {
    font-family: sans-serif;
    color: black;
    font-size: 16px;
}

.bookButton {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 20px;
    border-radius: 5px;
    width: 20%;
    display: inline-block;
}
.bookButton a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.bookButton:hover {
    background-color: var(--forest);
    transition-duration: .5s;
    cursor: pointer;
}

/* Weather Banner alert*/
#weatherBanner {
    display: none;
    background-color: var(--forest);
    color: white;
    padding: 10px;
}

/* *****HEADER STYLING***** */
body {
    background-color: white;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border: 3px solid black;
    box-shadow: 0px 3px 10px 0px black;
}

.templeHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    position: relative;
    margin-bottom: .2rem;
}

.templeHeader h1 {
    margin: 0;
    font-size: 1.7em;
}
.templeHeader h2 {
    font-size: 15px;
}

.headerLogo {
    display: flex;
    align-items: center;
    padding: 0;
}

.templeLogo {
    height: 90px;
}

.socialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5px;
}

.socialIcons a img {
    height: 40px;
    padding: 2.5px;
}

#templeHeader {font-size: 60px;}
#suitesHeader {font-size:55px}

/* ***** NAVIGATION STYLING ***** */
nav {
    margin: 27px 7px 0 0px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navigation a {
    display: block;
    padding: 0.75rem 2vw;
    text-decoration: none;
    color: var(--forest);
    text-align: center;
    padding: 1rem;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    background-color: black;
    color: white;
    transition-duration: .5s;
}

nav ul li.active a {
    border: 2px solid black;
  }

.navigation {
    list-style: none;
    padding: 0px;
    margin: 48px;
    position: absolute;
    width: 80%;
    left: 22px;
    font-size: 1em;
    top: 15%;
    z-index: 1;
}

.menu {
      background-color: var(--forest);
      color: white;
      padding: 0px 8px;
  }

.toggle-btn {
    font-size: 2.5rem;
}

.hidden {
    display: none;
}

.responsive li {
	display: block;
}

.responsive ul {
    width: 100%;
}

.responsive a {
    background-color: white;
    color: black;
}

hr {
    border-top: 1px solid #f5f2e9;
}

/* ***** BODY STYLING ***** */
.indexMain {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FEATURE STYLING */
section {
    width: 100%;
    max-width: 760px;
}

.feature {
    margin: 0;
}

#featHeading {
    font-size: 30px;
}

.feature img {
    width: 100%;
}

/* SERVICES STYLING */

#freeAmentities {
    padding-top: 10px;;
}

#servicesImage {
    padding-top: 15px;
    width: 65%;
}

.servButton {
    margin-top: 20px;
}

.services li {
    list-style: none;
}

/* TEMPLES STYLING */
#phxImg img {
    width: 91%;
    padding-top: 20px;
}

#phxTemple ul{
    list-style: none;
}

#phxTemple {
    border: 2px solid black;
}

#phxWeather {
    padding: 10px;
}

/* 3-day Forecast Styling */
.forecastGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 29px auto;
    width: 55%;
}

#denverTemple p, #mcallenTemple p {
    margin-top: 0;
}

#denverTemple img, #mcallenTemple img {
    width: 70%;
}

.tempCard, #cta, footer {
    margin-top: 30px;
    text-align: center;
}

#portlandTemple, #memphisTemple {
    display: none;
}

/* CALL TO ACTION STYLING */
#cta h3 {
    font-style: italic;
}

/* ***** FOOTER STYLING ***** */
footer {
    background-color: black;
    padding: 1em;
}

footer img {
    height: 150px;
}

footer h2, footer p, footer a, .classFooter, .lastUpdated {
    color: white;
}

.footerLinks {
    padding-top: 20px;
}

.footerLinks p {
    font-size: 12px;
}

.footerLinks a {
    padding: 0 6px;
}

#templeMap {
    margin-top: 15px;
}

/* ***** TEMPLES PAGE ***** */
.templesMain {
    display: block;
    justify-content: center;
    align-items: center;
}

#templeHeading h1 {
    margin-top: 35px;
}

#templeHeading p, #templeHeading li, #templeHeading h4 {
    margin-top: 10px;
}

#templeHeading li {
    list-style:none;
    text-align: center;
}

.templesPage {
    display: block;
    line-height: 1.5em;
    width: 80%;
}

.templesPage img {
    width: 40%;
}

.templesPage section {
    border: 1px solid black;
    box-shadow: 2px 2px 7px 0px black;
    margin: 20px;
    padding: 35px;
}

.temple-cards section p {
    margin: 10px;
}

/* heart button styling */
#heart {
    width: 14%;
    border: none;
    background-color: #fff;
}

/* ***** RESERVATIONS PAGE ***** */
.reservationsMain {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
    padding: 0px;
}

.reservationsMain h1 {
    margin-top: 35px;
    text-align: center;
    font-weight: 900;
}

/* form section */
.reserveForm {
    padding: 25px;
    margin-bottom: 25px;
    align-self: center;
    text-align: left;
}

.reserveGrid > li > label + *, .reserveGrid {
    flex: 1 0 220px;
}

.reserveGrid li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.reserveGrid > li > label, .reserveGrid li p {
    flex: 1 0 120px;
    max-width: 220px;
    margin: 10px;
}

.reserveGrid li button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    font-size: 18px;
    transition-duration: .5s;
    margin: 15px auto;
}

.reserveGrid button:hover {
    cursor: pointer;
    background-color: var(--forest);
    transition-duration: .5s;
}

form label.top {
    margin-top: 6px;
}

form label.top input, form label.top select, textarea {
    -webkit-appearance:none;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #000;
    background-color: rgba(0,0,0,0.1)
}

textarea {
    overflow: auto;
}

form label.sbs {
    display: block;
    font-weight: bold;
    margin-top: 6px;
}

form label.sbs:hover {
    cursor: pointer;
}

form label.top input:required {
    border-left: #8e1313 solid 6px;
}

form label.top input:required:valid {
    border-left: #a6c09b solid 6px;
}

#reservationInfo h3 {
    margin-bottom: 10px;
}

/* thank you page */
.thanksMain {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thanksMain h1 {
    margin-top: 35px;
    text-align: center;
}

.thanksMain img {
    max-width: 100%;
}

.thanksMain div {
    padding: 0rem 8rem 0rem 8rem;
}

.thanksMain p {
    text-align: center;
    font-size: 1rem;
}

/* ***** SERVICES PAGE ***** */
.servicesMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicesDiv {
    text-align: left;
}

.servicesImg {
    padding-top: 20px;
}

#services1 h2, #services2 h2 {
    margin-top: 50px;
}

.feature #servicesImg1, .feature #servicesImg2 {
    margin: 50px 0 0 50px;
    width: 65%;
}

#services1, #services2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.servicesImg1, .servicesImg2 {
    grid-column: 1 / 2;
}

.servicesGrid {
    grid-column: 2 / 3;
    line-height: 30px;
}

.servicesGrid ul {
    margin-top: 20px;
    line-height:normal;
}

/* ***** MISSIONARIES PAGE ***** */
.missionariesMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missionaryImg {
    padding-top: 20px;
}

.missionaryGrid {
    margin: 50px;
}

.missionaryGrid Div {
    margin-top: 30px;
}

/* ***** CONTACT US PAGE ***** */
.contactMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMain h1 {
    margin-top: 35px;
    text-align: center;
    font-weight: 900;
}

/* form section */

.contactForm {
    align-self: center;
    text-align: left;
    min-width: 23rem;
    max-width: 90%;
    border: none;
}

.contactForm fieldset {
    margin: 2rem 0;
    padding: .5rem 2%;
    max-width: 25rem;
    padding-inline-end: 2rem;
    border: none;
}

.contactForm legend {
    color: var(--forest);
    font-size: 2em;
    margin: 0 1rem;
    padding: 0 .5rem;
}

.contactForm label.top, .contactForm div {
    font-size: .8rem;
    width: 102%;
}

.contactForm label.top {
    margin-top: 6px;
}

.contactForm label.top input, form label.top select, textarea {
    -webkit-appearance:none;
    display: block;
    font-size: 1rem;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1)
}

textarea {
    overflow: auto;
}

.contactForm label.sbs {
    display: block;
    font-weight: bold;
    margin-top: 6px;
}

.contactForm label.sbs:hover {
    cursor: pointer;
}

.contactForm input.submitBtn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 0 2rem 2%;
    font-size: 24px;
    width: 96%;
    max-width: 27rem;
    transition-duration: .5s;
}

.contactForm input.submitBtn:hover {
    cursor: pointer;
    background-color: var(--forest);
    transition-duration: .5s;
}

.contactForm label.top input:required {
    border-left: #8e1313 solid 6px;
}

.contactForm label.top input:required:valid {
    border-left: #a6c09b solid 6px;
}

/* ***** RECEPTION PAGE ***** */
.receptionMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.receptionMain h1 {
    margin-top: 35px;
    text-align: center;
    font-weight: 900;
}

.weddingPkg, .weddingPkg p {
    margin-top:25px;
}

.weddingPkg ul {
    list-style: none;
}