@media only screen and (min-width: 900px) {
    body {
        max-width: 1400px;
        width: auto;
    }
    
    /* HEADER SECTION */
    header {
        width: 100%;
        display: grid;
        grid: 1fr / 1fr 2fr 1fr;
        justify-content: center;
    }

    .templeHeader {
        grid-column: 1 / 2;
    }

    .headerLogo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav {
        grid-column: 2 / 3;
		grid-row: 1 / 2;
        margin: 38px 0 0 10px;
    }

    nav ul {
        padding: 0px 0px 0px 72px;
    }
    

    .navigation {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 auto;
        font-size: 1.5rem;
        overflow-wrap: normal;
    }
    
    .navigation a {
        text-align: center;
        border: none;
    }


    .socialIcons {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-right: 60px;
	}

    .fb {
        justify-self: end;
        margin-right: 10px;
    }
    
    .ig {
        justify-self: start;
        margin-left: 10px;
    }

    .menu {
        display: none;
    }

    /* FEATURE SECTION */
    .featureImg {
        margin: auto;
    }

    /* RESERVATION SECTION */
.reserveGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form input.submitBtn {
    margin: 0px 0 0 250px;
}

    /* TEMPLES SECTION */


}