@media only screen and (min-width: 768px) {

.featureImg{
    width: 80%;
}

#phxImg img {
    width: 40%;
}

#phxInfo {
    justify-content: center;
}

#phxInside {
    float: right;
    padding: 100px 35px 0 0;
}

.templeCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#portlandTemple, #memphisTemple {
    display: inherit;
}

.tempCard img {
    width: 80%;
}

/* ***** TEMPLES PAGE ***** */
.templesPage section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
}

.templesPage img {
    grid-column: 1 / 2;
    grid-row: 1 / 11;
    width: 100%;
}

.templesPage h2, .templesPage p {
    grid-column: 2 / 3;
    line-height: 1em;
}

p.templesPage:nth-child(2) {
    margin-top: 5px;
}



}