@media only screen and (min-width: 34em) {

#templeHeader {
    margin: 0 auto;
    display: grid;
    grid: 2fr 1fr / 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: .8em;
    padding: 1em;
    margin-bottom: .2rem;
    grid-column-gap: .2rem;
}

.socialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

}