@media only screen and (min-width: 768px) {

.featureImg{
    width: 80%;
}

.featButton {
    top: 325px;
    right: 326px;
}

#phxImg img {
    width: 40%;
}

#phxInfo {
    justify-content: center;
}

#phxInside {
    float: right;
    padding: 100px 35px 0 0;
}

.templeCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#portlandTemple, #memphisTemple {
    display: inherit;
}

.tempCard img {
    width: 80%;
}

}